<ion-view view-title="Lista de tareas">
      <ion-nav-buttons side="right">
        <button class="button" ng-click="popover.show($event)" >
          <i class="icon ion-navicon-round"></i>
        </button>
        <button class="button" ng-click="openModal()" >
          <i class="icon ion-android-add-circle"></i>
        </button>
      </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="todo in $storage.todos | filter: colors" ng-class="todo.color" type="item-text-wrap" href="#/tab/todos/{{todo.id}}">
        <h2>{{todo.name}}</h2>
        <p>{{todo.comment}}</p>
        <ion-option-button class="button-dark" ng-click="del(todo)">
          <i class="icon ion-trash-b"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>