<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Tareas" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/todos">
    <ion-nav-view name="tab-todos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Notas" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/notes">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Opciones" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/options">
    <ion-nav-view name="tab-options"></ion-nav-view>
  </ion-tab>


</ion-tabs>
